<div id="about" class="page parts-page">

	<div class="part-holder">
		<div class="centered-text-parent centered-holder">
			<p class="centered-text-child top-paragraph bold">{{{agence-top-title}}}</p>
		</div>
	</div>
	
	<div class="part-holder part-photo">
		<div class="centered-holder">
			<div class="title bold">{{agencePromo.title}}</div>
		</div>
		<div class="visual-parent">
			<div class="visual-container">
				<img src="image/page/{{pathId}}/agence-promo.jpg">
			</div>
		</div>
		<div class="centered-holder-paragraph">
			<div class="paragraph">{{{agencePromo.paragraph}}}</div>
		</div>
	</div>

	<!-- <div class="part-holder">
		<div class="holder-wrapper">
			{{{agence.showroom.rawEl}}}
			{{{agence.display.rawEl}}}
			{{{agence.entree.rawEl}}}
		</div>
	</div> -->


	<div class="part-holder part-photo">
		<div class="centered-holder">
			<div class="title bold">{{equipePromo.title}}</div>
		</div>
		<div class="visual-parent">
			<div class="visual-container">
				<img src="image/page/{{pathId}}/equipe-promo.jpg">
			</div>
		</div>
		<div class="centered-holder-paragraph">
			<div class="paragraph">{{{equipePromo.paragraph}}}</div>
		</div>
	</div>


	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.sandie.rawEl}}}
			{{{equipe.cinzia.rawEl}}}
			{{{equipe.nathalie.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.lucie.rawEl}}}
			{{{equipe.cristel.rawEl}}}
			{{{equipe.naima.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.romain.rawEl}}}
			{{{equipe.daphnee.rawEl}}}
			{{{equipe.marie.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.mimo.rawEl}}}
			{{{equipe.yannick.rawEl}}}
		</div>
	</div>


</div>