<div id="about" class="page parts-page">

	<div class="part-holder">
		<div class="centered-text-parent centered-holder">
			<p class="centered-text-child top-paragraph bold">{{{agence-top-title}}}</p>
		</div>
	</div>

	<div class="part-holder">
		<div class="centered-text-parent centered-holder">
			<p class="centered-text-child sub-paragraph bold">{{{agence-sub-title}}}</p>
		</div>
	</div>
	
	<div class="part-holder part-photo">
		<div class="centered-holder">
			<div class="title bold">{{agencePromo.title}}</div>
		</div>
		<div class="visual-parent">
			<div class="visual-container">
				<img lazy-src="image/page/{{pathId}}/agence/promo.jpg" src="{{blankImg}}">
			</div>
		</div>
		<div class="centered-holder-paragraph">
			<div class="paragraph">{{{agencePromo.paragraph}}}</div>
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{agence.showroom.rawEl}}}
			{{{agence.display.rawEl}}}
			{{{agence.entree.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{agence.interview.rawEl}}}
			{{{agence.accessoires.rawEl}}}
			{{{agence.showroom2.rawEl}}}
		</div>
	</div>


	<div class="part-holder part-photo sandie-block">
		<div class="centered-holder">
			<div class="title bold">{{equipePromo.title}}</div>
		</div>
		<div class="visual-parent">
			<div class="visual-container">
				<img lazy-src="image/page/{{pathId}}/equipe/promo.jpg"  src="{{blankImg}}">
			</div>
		</div>
		<div class="description bottom-titles bold">{{{equipePromo.description}}}</div>
		<div class="centered-holder-paragraph">
			<div class="paragraph">{{{equipePromo.paragraph}}}</div>
		</div>
	</div>

	<div class="part-holder">
		<div class="centered-text-parent centered-holder">
			<p class="centered-text-child sub-paragraph bold">{{{equipe-sub-title}}}</p>
		</div>
	</div>


	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.marjorie.rawEl}}}
			{{{equipe.cinzia.rawEl}}}
			{{{equipe.lucie.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.nathalie.rawEl}}}
			{{{equipe.annechristine.rawEl}}}
			{{{equipe.daphnee.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="holder-wrapper">
			{{{equipe.mimo.rawEl}}}
			{{{equipe.kimmoun.rawEl}}}
			{{{equipe.naima.rawEl}}}
			{{{equipe.marie.rawEl}}}
		</div>
	</div>

	<div class="part-holder">
		<div class="centered-holder accordion-wrapper-title">
			<div class="title bold">{{references-title}}</div>
		</div>
		<div class="centered-holder accordion-wrapper">
			<div class="accordion-part btn" id="mode-femme">
				<div class="main-title">{{{references.mode-femme.title}}}</div>
				<div class="main-body">
					<p>{{{references.mode-femme.body}}}</p>
				</div>
			</div>
			<div class="accordion-part btn" id="mode-homme">
				<div class="main-title">{{{references.mode-homme.title}}}</div>
				<div class="main-body">
					<p>{{{references.mode-homme.body}}}</p>
				</div>
			</div>
			<div class="accordion-part btn" id="accessoires">
				<div class="main-title">{{{references.accessoires.title}}}</div>
				<div class="main-body">
					<p>{{{references.accessoires.body}}}</p>
				</div>
			</div>
			<div class="accordion-part btn" id="art">
				<div class="main-title">{{{references.art.title}}}</div>
				<div class="main-body">
					<p>{{{references.art.body}}}</p>
				</div>
			</div>
			<div class="accordion-part btn" id="partenariats">
				<div class="main-title">{{{references.partenariats.title}}}</div>
				<div class="main-body">
					<p>{{{references.partenariats.body}}}</p>
				</div>
			</div>
		</div>
	</div>


</div>