<div id="production" class="page parts-page">
	
	<div class="part-holder">
		<div class="centered-text-parent centered-holder">
			<p class="centered-text-child top-paragraph bold">{{{agence-top-title}}}</p>
		</div>
	</div>
		
	{{#photo-part}}
	<div class="part-holder part-photo">
		<div class="centered-holder">
			<div class="title bold {{color}}">{{title}}</div>
		</div>
		<div class="visual-parent">
			<div class="visual-container">
				<img lazy-src="image/page/{{pathId}}/{{id}}.jpg" src="{{blankImg}}">
			</div>
		</div>
		<div class="centered-holder-paragraph">
			<div class="paragraph">{{{paragraph}}}</div>
		</div>
	</div>
	{{/photo-part}}

</div>