@include font-face('bold',
      font-files(
            'cadiz/Cadiz-Bold_gdi.woff', woff,
            'cadiz/Cadiz-Bold_gdi.ttf', ttf,
            'cadiz/Cadiz-Bold_gdi.svg', svg),
            'cadiz/Cadiz-Bold_gdi.eot');

@include font-face('boldItalic',
      font-files(
            'cadiz/Cadiz-BoldItalic_gdi.woff', woff,
            'cadiz/Cadiz-BoldItalic_gdi.ttf', ttf,
            'cadiz/Cadiz-BoldItalic_gdi.svg', svg),
            'cadiz/Cadiz-BoldItalic_gdi.eot');

@include font-face('medium',
      font-files(
            'cadiz/Cadiz-Medium_gdi.woff', woff,
            'cadiz/Cadiz-Medium_gdi.ttf', ttf,
            'cadiz/Cadiz-Medium_gdi.svg', svg),
            'cadiz/Cadiz-Medium_gdi.eot');

@include font-face('mediumItalic',
      font-files(
            'cadiz/Cadiz-MediumItalic_gdi.woff', woff,
            'cadiz/Cadiz-MediumItalic_gdi.ttf', ttf,
            'cadiz/Cadiz-MediumItalic_gdi.svg', svg),
            'cadiz/Cadiz-MediumItalic_gdi.eot');


#font-charger {
      left: -10000px;
      top: -10000px;
      position: absolute;
      @include opacity(0);
      #bold {
            font-family: 'bold';
      }
      #boldItalic {
            font-family: 'boldItalic';
      }
      #medium {
            font-family: 'medium';
      }
      #mediumItalic {
            font-family: 'mediumItalic';
      }
}