img {
    width: 100%;
}

a:-moz-focus-inner {
    border: 0;
    outline: none;
}

a:focus {
    border: 0;
    outline: none;
}

// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
html {
    background-color: $white;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
* {
    @include backface-visibility(hidden);
    @include user-select(none);
    @include transform-style(flat);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

*, *:before, *:after {
    box-sizing: inherit;
}

svg, svg * {
    @include backface-visibility(visible);
}

.clear-float {
    clear: both;
}
#app-container  {
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    @include user-select(none);
    cursor: default;

    // overall text params
    font-size: 12px;
    color: $black;

    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

