html, body {
    background-color: $white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "medium";
    overflow-x: hidden;
    overflow-y: scroll;
}

#app-container  {
    // font smoothing
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

    // disable text-selection & text cursor
    @include user-select(none);
    cursor: default;

    // overall text params
    font-size: $globalFontSize;
    color: $black;

    position: absolute;
    width: 100%;
    height: 100%;
}

#main-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.page {
    width: 100%;
    z-index: 4;
    position: absolute;
    background-color: $white;
}

.parts-page {
    position: absolute;
    .part-holder {
        // position: absolute;
    }
}
