* {
    @include backface-visibility(hidden);
    @include user-select(none);
    @include transform-style(flat);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    outline: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
svg, svg * {
    @include backface-visibility(visible);
}
.clear-float {
    clear: both;
}
img {
    width: 100%;
}
a:-moz-focus-inner {
    border: 0;
    outline: none;
}
a:focus {
    border: 0;
    outline: none;
}
// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
a {
    color: $white;
    text-decoration: none;
}
.normal {
    font-family: "medium";   
}
.italic {
    font-family: "mediumItalic";
}
.bold {
    font-family: "bold";
}
.bold-italic {
    font-family: "boldItalic";
}
.btn {
    cursor: pointer;
}
.full {
    width: 100%;
    height: 100%;
}
.relative {
    position: relative;
    @extend .full;
}
.absolute {
    position: absolute;
    top:0;
    left:0;
}
.centered-holder {
    width: $min-middle-width;
    position: absolute;
    left: 50%;
    margin-left: -$min-middle-width/2;
}
.centered-text-parent {
    @extend .full;
    display: table;
}
p.centered-text-child {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.parts-wrapper {
    @extend .absolute;
}
.part-holder {
    $visualW: 940px;

    position: absolute;
    background-color: $white;

    &.part-photo {
        > div {
            position: absolute;
        }
    }
    .title {
        font-size: 72px;
        text-transform: lowercase;
        @include nowrap;
    }
    .paragraph {
        width: 680px;
        font-size: 24px;
        margin-left: $gridPartW + $gridMargin;
        line-height: 30px;
    }
    .visual-container {
        width: $visualW;
        height: 670px;
        @include background-size(cover);
        background-position: 50% 50%;
        position: relative;
    }

    $visualMarginLeft: -$gridPartW - ($gridMargin / 2);
    &.left {
        .visual-parent {
            margin-left: $visualMarginLeft * 3;
        }
    }
    &.right {
        .visual-parent {
            margin-left: $visualMarginLeft;
        }
        .title {
            margin-left: $gridPartW + $gridMargin;
        }
    }

    @include breakpoint(max-width $min-middle-width) {
        &.left , &.right {
            .centered-holder {
                left: 0; 
                margin-left: 0;
                width: 100%;
            }
            .visual-parent {
                width: $min-middle-width;
                position: absolute;
                left: 50%;
                margin-left: -$min-middle-width/2;
            }
            .title, .paragraph {
                margin-left: 0px;
                padding: 0 40px;
                width: 90%;
            }
        }
    }
}
.top-paragraph {
    font-size: 48px;
    line-height: 57px;
}

#contact-view {
    @extend .absolute;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    color: $black;
    font-size: 36px;

    a {
        color: $black;
    }

    p {
        line-height: 46px;
    }

    .back {
        @extend .absolute;
        @extend .full;
        background-color: $white;
    }
    .middle-container {
        @extend .absolute;
        @extend .full;
        z-index: 1;
    }
}
