* {
    @include backface-visibility(hidden);
    @include user-select(none);
    @include transform-style(flat);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
    outline: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
img { border:0; }
svg, svg * {
    @include backface-visibility(visible);
}
.clear-float {
    clear: both;
}
img {
    width: 100%;
}
a:-moz-focus-inner {
    border: 0;
    outline: none;
}
a:focus {
    border: 0;
    outline: none;
}
// for firefox image scale smoothing
img {
    -ms-interpolation-mode: bicubic;
}
// for ie
img {
    background: transparent;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */
    zoom: 1;
}
.sizeHome {
    font-size: 122px;
    @include media("<=tablet") {
        font-size: 50px;
    }
}
.size0 {
    font-size: 100px;
    line-height: 93px;
    @include media("<=phone") {
        font-size: 43px;
        line-height: 47px;
    }
}
.size1 {
    font-size: 72px;
    line-height: 80px;
    @include media("<=phone") {
        font-size: 46px;
    }
}
.size2 {
    font-size: 48px;
    line-height: 62px;
    @include media("<=tablet") {
        font-size: 35px;
        line-height: 56px;
    }
    @include media("<=phone") {
        font-size: 25px;
        line-height: 37px;
    }
}
.size3 {
    font-size: 30px;
    line-height: 42px;
    @include media("<=phone") {
        font-size: 18px;
        line-height: 26px;
    }
}
.size4 {
    font-size: 14px;
    line-height: 20px;
}
.size5 {
    font-size: 18px;
    line-height: 24px;
    @include media("<=tablet") {
        font-size: 16px;
        line-height: 20px;
    }
    @include media("<=phone") {
        font-size: 12px;
        line-height: 12px;
    }
}
.size6 {
    font-size: 48px;
    line-height: 80px;
    @include media("<=tablet") {
        font-size: 26px;
    }
}
a {
    color: $white;
    text-decoration: none;
}
.normal {
    font-family: "medium";   
}
.italic {
    font-family: "mediumItalic";
}
.bold {
    font-family: "bold";
}
.bold-italic {
    font-family: "boldItalic";
}
.btn {
    cursor: pointer;
}
.full {
    width: 100%;
    height: 100%;
}
.relative {
    position: relative;
    @extend .full;
}
.absolute {
    position: absolute;
    top:0;
    left:0;
}
.centered-holder {
    width: 100%;
    max-width: $min-middle-width;
    position: absolute;
    left: 50%;
    margin-left: -$min-middle-width/2;

    @include media("<=middleW") {
        left: auto;
        margin-left: 0;
    }
}
div.centered-holder-paragraph {
    width: 100%;
    max-width: $min-middle-width-paragraph;
    position: absolute;
    left: 50%;
    margin-left: -$min-middle-width-paragraph/2;

    @include media("<=tablet") {
        left: auto;
        margin-left: 0;
        max-width: none;
        position: relative;

    }
}
.centered-text-parent {
    @extend .full;
    display: table;
}
p.centered-text-child {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}
.logo {
    position: absolute;
    $w: 220px;
    width: $w;
    left: 50%;
    margin-left: -$w/2;
    top: $topMargin - 10px;
    z-index: 1;

    svg path {
        fill: $white;
    }
    @include media("<=tablet") {
        display: none;
    }
}
.parts-wrapper {
    @extend .absolute;
}
.part-holder {
    $visualW: $min-middle-width;
    $basePhotoW: 1400px;
    $basePhotoH: 934px;

    position: absolute;
    overflow: hidden;
    background-color: $white;

    .centered-holder:first-child {
        z-index: 2;
    }

    &.part-photo {
        > div {
            position: absolute;
        }
    }
    .title {
        @extend .size6;
        text-transform: lowercase;
        @include nowrap;
        text-align: center;
        color: white;
        &.black {
            color: black;
        }
    }
    .paragraph {
        @extend .size5;
        width: 100%;
        text-align: center;
    }
    .visual-container {
        width: $basePhotoW;
        height: $basePhotoH;
        // background-position: 50% 50%;
        // background-repeat: no-repeat;
        position: relative;
    }
}
.top-paragraph {
    width: 100%;
    max-width: $min-middle-width;
    @extend .size2;
    padding: 20px;
    @include media("<=tablet") {
        padding-top: 80px;
    }
}


.holder-wrapper {
    position: relative;
}

.popin-layer {
    @extend .absolute;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    color: $black;
    font-size: 36px;
    text-align: center;
    @include opacity(0);

    .close-btn {
        $w: 36px;
        width: $w;
        z-index: 13;
        position: absolute;
        right: $topMargin;
        top: $topMargin;
        @include anim(0.6s, 0s, $easeOutExpo, scale(1, 1), 50%, 50%);

        &:hover {
            @include anim(1.0s, 0s, $easeOutExpo, scale(1.2, 1.2), 50%, 50%);
        }
    }

    .back {
        @extend .absolute;
        @extend .full;
        background-color: $white;
    }
    .middle-container {
        @extend .absolute;
        z-index: 1;
        > * {
            @include inline-block;
        }
    }
}

#contact-view {
    .link-line {
        width: 100%;
        height: 3px;
        background-color: $black;
    }
    a {
        color: $black;
        .link-line {
            @include simpleAnim(0.2s, 0s, $easeInOutExpo);
            @include opacity(0);
        }
        &:hover {
            .link-line {
                @include simpleAnim(0.6s, 0s, $easeOutExpo);
                @include opacity(1);
            }
        }
    }
    .logo {
        svg path {
            fill: $black;
        }
    }
    p {
        line-height: 46px;
    }

}

#sub-side-menu {
    position: fixed;
    z-index: 999;
    left: -20px;
    .circle-wrapper {
        position: relative;
        & > div {
            position: absolute;
        }
    }
    .menu-circle {
        $radius: 8px;
        width: $radius;
        position: relative;
        top: 0;
        left: 8px;
    }
    .bottom-circle, .top-circle {
        @include anim(0.6s, 0s, $easeOutExpo, scale(1, 1), 50%, 50%);
        @include opacity(0.1);
    }
    .circle-wrapper {
        padding: 12px;
    }
    .circle-wrapper.active, .circle-wrapper:hover {
        .top-circle {
            @include anim(0.6s, 0s, $easeOutExpo, scale(1.4, 1.4), 50%, 50%);
            @include opacity(1);
        }
    }
}

#slideshow {
    .middle-container {
        > * {
            display: inline;
            vertical-align: baseline;
            position: absolute;
        }
    }

    .down-text {
        font-size: 18px;
        text-align: left;
    }

    img {
        width: 100%;
        height: 100%;
    }
}
