
// Breakpoints
$mobile: 320px 480px;
$tablet: 768px 1024px;
$tablet-end: 0px 1024px;
$mobile-port: max-width 320px;
$mobile-land: min-width 321px;
$tablet-port: (min-width 768px) (max-width 1024px) (orientation portrait);
$tablet-land: (min-width 768px) (max-width 1024px) (orientation landscape);

// Color
$white: #ffffff;
$black: #000000;
