header#header{
	@extend .absolute;
    z-index:99999;
    width: 100%;

    .logo {
    	position: absolute;
    	$w: 200px;
    	width: $w;
    	left: 50%;
    	margin-left: -$w/2;
		top: 22px;

		svg path {
			fill: $white;
		}
    }
}
